@charset "UTF-8";

/* Importação da Font */
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

/* Regras gerais */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:
		"SF Pro Display", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

:root {
	--altura-nav: 48px;

	--background-transparente: #ffffffdd;
	--background-geral: #4bff72;
	--backgrund-fundos: #f5f5f773;

	--title-color: linear-gradient(90deg, #68fa71, #47a04d, #35823a);
	--subtitle-color: linear-gradient(90deg, #68c0fa, #4769a0, #355b82);

	--box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.37);
}

#barra-navegacao {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	position: fixed;

	top: 0;
	left: 0;

	gap: 15px;
	padding: 0 12px;
	width: 100%;
	height: var(--altura-nav);

	background-color: var(--background-transparente);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

	z-index: 200;

	transition: 0.5s;
}

main {
	flex: 1;
	margin-top: var(--altura-nav);
}

#sidebar {
	position: fixed;
	display: none;

	top: calc(var(--altura-nav) - 2px);
	left: 0;
	width: 100%;
	height: auto;

	background-color: var(--background-transparente);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-radius: 0px 0px 30px 30px;

	z-index: 100;

	padding: 20px 0 20px 40px;
	font-size: 22px;
}

#sidebar #menu-mobile {
	display: flex;
	flex-direction: column;
	align-items: start;

	gap: 20px;
	margin: 0;
	padding: 0;

	list-style: none;
}

#menu-mobile li,
a {
	text-decoration: none;
	list-style: none;

	color: black;
}

#menu-mobile .small {
	opacity: 0.5;
	font-size: 0.8em;
	font-weight: 100;
}

h1 {
	margin-bottom: 35px;

	font-size: clamp(2.5rem, 4vw, 4rem);
	font-weight: 500;

	background: linear-gradient(90deg, #68fa71, #47a04d, #35823a);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Imagem da mascote Diana e texto introdutório  */
#banner-principal {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	column-gap: 15px;
	padding: 10px;
	margin-bottom: 25px;

	background-color: var(--backgrund-fundos);
}

#mensagem-banner {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 180px;
	width: 100%;
	max-width: 280px;
	padding: 15px;

	border-radius: 10px;
	background-color: var(--background-geral);
}
#fundo-mensagem {
	background-color: #35823a;
}
#catalogo h2 {
	font-weight: 500;
	font-size: clamp(2rem, 3vw, 3rem);

	background: var(--subtitle-color);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#plantas-catalogo {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 20px;
	margin-bottom: 30px;
	gap: 13px;

	background-color: var(--backgrund-fundos);
}
#plantas-catalogo .planta {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;

	background-image: var(--bg);
	box-shadow: var(--box-shadow);
	background-color: var(--background-geral);
	background-size: cover;
	background-position: center center;
	padding: 10px;
	width: 150px;
	height: 150px;
	border-radius: 15px;

	transition: 0.3s;
}

#plantas-catalogo .planta:hover {
	transform: scale(0.9);
}

#plantas-catalogo .planta:nth-child(1) {
	background-image: url(../IMG/alimenticia.png);
}
#plantas-catalogo .planta:nth-child(2) {
	background-image: url(../IMG/medicinal.png);
}
#plantas-catalogo .planta:nth-child(3) {
	background-image: url(../IMG/ornamental.png);
}
#plantas-catalogo .planta:nth-child(4) {
	background-image: url(../IMG/carnivora.png);
}

.planta p {
	background-color: white;
	border-radius: 10px;
	padding: 6px;
	width: 90%;
}

footer {
	flex: 2;
	width: 100%;
	max-height: min-content;
	padding: 15px;

	background-color: var(--background-geral);
	font-weight: lighter;
}

footer #rodape {
	display: flex;
	flex-direction: row;
	justify-content: center;

	gap: 28px;
	padding: 18px;
}
#rodape .info > p {
	text-align: left;
	font-weight: 500;
}
